div[class~=language-js]:before {
    content: "" !important;
}

strong[class~="keyword"] {
  color: $blue-500;
  font-weight: bolder;
  font-size: 1.5rem;
}

strong[class~="meaning"] {
  color: $blue-300;
  font-weight: bolder;
  font-size: 1.25rem;
}

strong[class~="synonym"] {
  color: $deep-purple-A100;
  font-weight: bold; 
  font-size: 1.15rem;
}

strong[class~="antonym"] {
  color: $light-orange-300;
  font-weight: bold;
  font-size: 1.15rem;
}

span[class~="badge"] {
  padding: 2px 6px !important;
  font-size: 19px !important;
  display: unset !important;
}

small[class="type"] {
  vertical-align: top;
  color: #fff;
  background-color: $cyan-300;
  padding: 2px 2px;
  font-weight: bold;
}

th {
  text-align: center !important;
}